.depositHeader{
    text-align: center;
    margin-top: 20px;
}
.deposit {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
}
.flex {
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
button {
    margin-top: 20px;
}