.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0 30px;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
ul li {
    display: inline-block
}
a {
    text-decoration: none;
    padding: 10px;
    color: #333;
}
ul li a:hover {
    color: indigo;
}